# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# TeX output
docs/project_proposal.*
!docs/project_proposal.bib
!docs/project_proposal.pdf
!docs/project_proposal.tex

# Databases
*.db
*.sqlite
