# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# Jekyll output
_site/

# TeX output
report/project_proposal.*
!report/project_proposal.bib
!report/project_proposal.pdf
!report/project_proposal.tex

# Databases
*.db
*.sqlite
