# Jupyter Notebook
.ipynb_checkpoints/

# Local virtual environment
.venv/

# Development directory
sandbox/

# Python
*.pyc

# PyCharm
.idea/

# Sublime Text
*.sublime*

# Jekyll output
_site/

# Pickled variable files
*.pkl

# setuptools directory from local package installation
*.egg-info

# TeX output
report/build/

# Databases
*.db
*.sqlite

# Scrapy output
data/

# Bundler install directory
vendor/
