[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
scrapy = "*"
nba-api = "*"
sqlalchemy = "*"
pydantic = "*"
psycopg2 = "*"
sqlmodel = {ref = "pydantic-args", git = "https://github.com/klane/sqlmodel.git"}

[dev-packages]
jupyter = "*"
seaborn = "*"
hyperopt = "*"
pre-commit = "*"
