[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
scrapy = "*"
nba-api = "*"

[dev-packages]
jupyter = "*"
seaborn = "*"
hyperopt = "*"
pre-commit = "*"
