[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
scrapy = "*"
nba-py = {git = "https://github.com/seemethere/nba_py.git"}

[dev-packages]
jupyter = "*"
seaborn = "*"
hyperopt = "*"
